@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components { /* Base styling for the different buttons */
  .btn-base {
    @apply px-8 py-3 rounded-full text-sm font-bold uppercase tracking-wide shadow-lg transition-all duration-700 ease-in-out mr-8;
  }

.btn-link {
    @apply px-6 py-3 text-sm font-normal uppercase tracking-wide transition-all duration-700 ease-in-out mr-8;
  }
  .btn-link2 {
    @apply px-6 py-3 text-sm font-normal tracking-wide transition-all duration-700 ease-in-out mr-8;
  }

/************ liquid-button ********************/
.liquid-button {
  position: relative;
  overflow: hidden;
}

.liquid-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Start off the left side */
  width: 200%;
  height: 100%;
  background-color: rgba(221, 239, 255, 0.7); /* Wave color */
  z-index: -1; /* Behind the button */
  border-radius: 50%; /* Rounded corners for a wave effect */
  transition: left 1.5s ease-in-out; /* Slow transition for entering */
}

/* Animation for when hovering in */
.liquid-button:hover::before {
  left: 0; /* Move to the center */
}

/* Animation for when hovering out */
.liquid-button:not(:hover)::before {
  left: 100%; /* Move off-screen to the right */
  transition: left 1.5s ease-in-out; /* Slow transition for exiting */
}

@keyframes wave-in {
  0% {
    left: -100%; /* Start off-screen */
    transform: scale(1.1); /* Slightly larger for a wave effect */
  }
  50% {
    left: 50%; /* Move to the center */
    transform: scale(1.0); /* Return to original size */
  }
  100% {
    left: 0; /* Center of the button */
  }
}

@keyframes wave-out {
  0% {
    left: 0; /* Start from the center */
  }
  50% {
    left: 50%; /* Move towards the center */
  }
  100% {
    left: 100%; /* Move off-screen to the right */
  }
}
}

