@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .custom-main-bg {
   background-image: url("/public/img/overlay.png"), url("/public/img/bg.png");
   background-repeat: repeat, no-repeat;
   background-size: auto, 100% 100%;
   background-attachment: fixed;
   overflow-y: scroll;
  }

  /* Base styling for the different buttons */
  .btn-base {
    @apply px-8 py-3 rounded-full text-sm font-bold uppercase tracking-wide shadow-lg transition-all duration-700 ease-in-out mr-8;
  }

.btn-link {
    @apply px-6 py-3 text-sm font-normal uppercase tracking-wide transition-all duration-700 ease-in-out mr-8;
  }
  .btn-link2 {
    @apply px-6 py-3 text-sm font-normal tracking-wide transition-all duration-700 ease-in-out mr-8;
  }

/************ liquid-button ********************/
.liquid-button {
  position: relative;
  overflow: hidden;
}

.liquid {
  position: absolute;
  bottom: -50; /* Start from the bottom */
  left: 50%; /* Center the wave */
  width: 200%; /* Full width to create wave effect */
  height: 50%; /* Adjust the initial height for the wave */
  background-color: rgba(54, 140, 215, 0.7); /* Wave color */
  z-index: -1; /* Behind the button */
  border-radius: 50%; /* Rounded corners for a wave effect */
  transform: translateX(-50%); /* Center the wave */
  transition: height 0.5s ease-in-out; /* Smooth transition for height */
}

.wave {
  animation: wave-animation 2.5s ease-in-out infinite; /* Animation for the wave effect */
}

@keyframes wave-animation {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-5px); /* Wave effect */
  }
}

}
