---
import MainLayout from "../layouts/MainLayout.astro";
import Projectcard from "../components/Projectcard.astro";
import Upbtn from "../components/Upbtn.astro";
---

<MainLayout title="CKoudalPortfolio">
  
 <h2 class="font-poppins text-grey-700 text-4xl md:text-l mb-0 uppercase ml-6 pt-24" style="color: #6E744C;">Portfolio</h2>
  <p class="font-lora text-grey-700 text-lg md:text-l mb-0 ml-6" style="color: #6E744C;">Porfolio bvlfhb vhsbfl lajhfbvajbl ljahbfavjbaæ</p>
   
   <Projectcard />

   <h2 class="font-poppins text-grey-700 text-4xl md:text-l mb-0 uppercase ml-6 pt-24" style="color: #6E744C;">About</h2>



   <h2 class="font-poppins text-grey-700 text-4xl md:text-l mb-0 uppercase ml-6 pt-24" style="color: #6E744C;">Contact</h2>
   <h3 class="font-serif"</h3>
   <p>Space to feel comfortable you</p>
  <Upbtn />

  fo
</MainLayout>

