---
import MainLayout from "../layouts/MainLayout.astro";
import Projectcard from "../components/Projectcard.astro";
import Upbtn from "../components/Upbtn.astro";
---

<MainLayout title="CKoudalPortfolio">
  <p class="pt-48 ml-24">Charlotte Koudal MMD KEA</p>
  <h1 class="text-4xl md:text-8xl mb-0 uppercase ml-24" style="color: #6E744C;">Multimediedesign-studerende</h1>
 
  <h3 class="ml-24 text-2xl pt-24 flex justify-left" style="color: #FFDA03;">
  LET'S PLAY CARDS or just look at projects:
</h3>
<p class="ml-24" style="color: #FFDA03;">
  (A selection of my latest web solutions from my studies)
</p>
   <Projectcard />
  
   <h2 class="text-grey-700 text-4xl md:text-l mb-0 uppercase ml-24 pt-24 pb-8" style="color: #6E744C;">About</h2>
   <div class="flex justify-center md:justify-end mb-16 -mr-28">
    <img class="h-60 w-60 md:h-96 md:ml-10 rounded-full object-cover" src="img/profile.JPG" alt="Profile image">
   </div>

   <p class="ml-24">I am a multimedia design student in my 3rd semester at KEA, with a lifelong passion for art and design. Over the years, I have developed skills in both traditional and digital design methods.
   My experience spans various projects, where I have learned to create visual solutions that capture the essence of a brand and solve user problems. I strive to combine aesthetics and functionality in my designs.
   I am seeking an internship where I can explore new techniques and gain practical experience while challenging the boundaries of design to deliver meaningful and valuable solutions.</p>
   <h2 class="text-grey-700 text-4xl md:text-l mb-0 uppercase ml-6 pt-24" style="color: #6E744C;">Contact</h2>
  
   <p class="text-grey-700 text-lg md:text-l mb-0 ml-6" style="color: #6E744C;">Space to feel comfortable you</p>
  <Upbtn />


</MainLayout>

