---
import MainLayout from "../layouts/MainLayout.astro";
import Projectcard from "../components/Projectcard.astro";
import Upbtn from "../components/Upbtn.astro";
---

<MainLayout title="CKoudalPortfolio">
  
 <h2 class="text-grey-700 text-4xl md:text-l mb-0 uppercase ml-6 pt-24" style="color: #6E744C;">Portfolio</h2>
  <p>Porfolio bvlfhb vhsbfl lajhfbvajbl ljahbfavjbaæ</p>
   
   <Projectcard />

   <h2 class="text-grey-700 text-4xl md:text-l mb-0 uppercase ml-6 pt-24" style="color: #6E744C;">About</h2>
<p>Jeg er en multimediedesign-studerende på mit 3. semester på KEA. Jeg har elsket kunst og design fra en tidlig alder og har dedikeret mit liv til det. Gennem årene har jeg opbygget mine færdigheder inden for både traditionelle og digitale designmetoder.

  Min erfaring spænder over vidt forskellige projekter, hvor jeg har lært at skabe visuelle løsninger, der både fanger essensen af en brand og løser brugerproblemer. Jeg fokuserer på at forene æstetik og funktionalitet i mine designs.
  
  Jeg søger en praktikplads, hvor jeg kan udforske nye teknikker og få praktisk erfaring, mens jeg fortsætter med at udfordre designets grænser for at levere meningsfulde og værdiskabende løsninger.</p>


   <h2 class="text-grey-700 text-4xl md:text-l mb-0 uppercase ml-6 pt-24" style="color: #6E744C;">Contact</h2>
  
   <p class="text-grey-700 text-lg md:text-l mb-0 ml-6" style="color: #6E744C;">Space to feel comfortable you</p>
  <Upbtn />


</MainLayout>

