---

---

<div id="blob-container" class="flex justify-center items-center h-screen">
    <div id="blob" class="w-full h-full ml-4 blob-custom"></div>
</div>


<style>
  @keyframes blobAnimation {
    0% {
      clip-path: polygon(
        60% 10%, 80% 20%, 100% 40%, 
        90% 70%, 80% 100%, 50% 90%, 
        20% 100%, 10% 70%, 0% 40%, 
        20% 20%);
    }
    50% {
      clip-path: polygon(
        50% 0%, 80% 10%, 100% 40%, 
        80% 60%, 70% 100%, 50% 80%, 
        30% 100%, 20% 60%, 0% 40%, 
        30% 10%);
    }
    100% {
      clip-path: polygon(
        60% 10%, 80% 30%, 100% 50%, 
        80% 80%, 60% 100%, 40% 90%, 
        20% 100%, 10% 70%, 0% 50%, 
        20% 30%);
    }
  }

  #blob {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/profile.JPG'); /* Replace with your image URL */
    animation: blobAnimation 8s infinite cubic-bezier(0.6, 0.2, 0.1, 1);
    width: 400px;
    height:400px;
    border-radius: 100%;
  }
</style>

