---
import Primarybtn from "../components/Primarybtn.astro";
import Secondarybtn from "../components/Secondarybtn.astro";
---
<div class="flex flex-wrap justify-center items-stretch h-auto gap-4 p-20">
  <div
    class="bg-[#629D97] rounded-3xl p-6 text-center w-full md:w-1/3 max-w-sm flex flex-col justify-between"
  >
    <div>
      <div class="mb-2 flex justify-center mt-6">
        <img class="w-24 h-24" src="/svg/personel.svg" alt="Privat Person" />
      </div>
      <h2 class="text-3xl font-bold mb-6 text-[#F6FAFA]">Privat Person</h2>
      <p class="mt-1 mb-2 text-lg text-[#F6FAFA] leading-loose">
        Tilmeld dig som privat person til Digital Cleanup Day 2025
      </p>
    </div>
    <div class="pb-4">
      <Primarybtn btnText="Registrer" link="/forms" />
    </div>
  </div>
  <div
    class="bg-primarylight rounded-3xl p-6 text-center w-full md:w-1/3 max-w-sm flex flex-col justify-between"
  >
    <div>
      <div class="mb-2 flex justify-center mt-6">
        <img class="w-24 h-24" src="/svg/company.svg" alt="Organisation" />
      </div>
      <h2 class="text-3xl font-bold mb-6 text-[#F6FAFA]">Organisation</h2>
      <p class="mt-1 mb-2 text-lg text-[#F6FAFA] leading-loose">
        Tilmeld din virksomhed eller organisation til Digital Cleanup Day 2025
      </p>
    </div>
    <div class="pt-4 pb-4">
      <Secondarybtn btnText="Registrer" link="#" />
    </div>
  </div>
</div>