---

---

<div
  class="flex flex-wrap justify-center gap-4 mx-auto max-w-screen-xl px-4 lg:px-16"
>
  <div
    class="bg-[#629D97] hover:bg-[#4B807A] transform hover:scale-105 transition duration-300 ease-in-out flex flex-col justify-center rounded-3xl p-6 text-center"
    style="width: 327px; height: 385px;"
  >
    <p class="mt-6 mb-2 font-medium text-lg text-[#0D3C2F] leading-loose">
      Der bruges mere energi ved at udvinde Bitcoin
    </p>
    <div class="mb-6 flex justify-center mt-4">
      <img
        style="width: 120px; height: 120px;"
        src="/svg/bitcoin.svg"
        alt="Bitcoin"
      />
    </div>
    <p class="mt-2 mb-2 font-medium text-lg text-[#0D3C2F] leading-loose">
      end hele New Zealands samlede energiforbrug gennem 365 dage!
    </p>
  </div>

  <div
    class="bg-[#629D97] hover:bg-[#4B807A] transform hover:scale-105 transition duration-300 ease-in-out flex flex-col justify-center rounded-3xl p-6 text-center"
    style="width: 327px; height: 385px;"
  >
    <p class="mt-10 font-medium text-xl text-[#0D3C2F] leading-loose">
      Internettet producerer mere end
    </p>
    <div class="mb-2 flex justify-center mt-2">
      <img style="width: 230px;" src="/svg/900_mil.svg" alt="CO2" />
    </div>
    <p class="mb-16 font-medium text-lg text-[#0D3C2F] leading-loose">
      tons CO2 hvert år!
    </p>
  </div>

  <div
    class="bg-[#629D97] hover:bg-[#4B807A] transform hover:scale-105 transition duration-300 ease-in-out flex flex-col justify-center rounded-3xl p-6 text-center"
    style="width: 327px; height: 385px;"
  >
    <p class="mt-6 mb-2 font-medium text-lg text-[#0D3C2F] leading-loose">
      Ubegrænset databrug i dag kræver tre gange mere energi, end alle
      solpaneler i verden kan producere!
    </p>
    <div class="mb-6 flex font-medium justify-center mt-6">
      <img
        style="width: 130px; height: 130px;"
        src="/svg/solceller.svg"
        alt="Databrug"
      />
    </div>
  </div>
</div>
