---
import Fodskridt from "./Fodskridt.astro"
---

      <div class="ml-16">
        <Fodskridt src="/svg/fodspor.svg"/>
      </div>
      <Fodskridt src="/svg/fodsporright.svg"/>
      <div class="ml-16">
        <Fodskridt src="/svg/fodspor.svg"/>
      </div>
      <Fodskridt src="/svg/fodsporright.svg"/>
    </div>
  </div>