<section class="text-lg leading-9 p-8 pt-16 md:p-16 md:flex md:gap-10 md:justify-start md:items-start">
  <div class="pb-10 flex-1">
    <!-- Venstre Kolonne (Kontaktoplysninger) -->
    <div class="flex flex-col">
      <p class="font-bold text-xl mb-6">Let’s work together</p>
      <p class="text-base">Charlotte Koudal</p>
      <p class="text-base">2200 København N, Denmark</p>
      <a href="mailto:c.koudal@gmail.com" class="text-[#6E744C] text-base m-0 pl-6 hover:text-accent transition" data-astro-cid-j7pv25f6>c.koudal@gmail.com</a>
      <p class="text-base">+45 2962 4832</p>
    </div>
  </div>

  <div class="pb-10 flex-1">
    <!-- Højre Kolonne (Sociale Medier Links) -->
    <div class="flex flex-col">
      <a href="/" class="text-primary text-base pl-6 hover:text-accent transition">LinkedIn</a>
      <a href="/" class="text-primary text-base pl-6 hover:text-accent transition">Facebook</a>
      <a href="/" class="text-primary text-base pl-6 hover:text-accent transition">Instagram</a>
    </div>
  </div>
</section>
<div class="bg-white h-10 flex items-center justify-center">
  <img src="/svg/copyright-svgrepo-com.svg" alt="Copyright icon" class="h-3 mr-1" /> <!-- Added mr-1 for space between icon and text -->
  <h4 class="text-center text-xs">2024 Charlotte Koudal</h4> <!-- Added text-center for centering text -->
</div>


<style>
  footer {
      box-shadow: 0px 0px 9px rgba(41, 41, 41, 0.25);
  }
</style>