<section class="text-lg leading-9 p-8 pt-16 md:p-16 md:flex md:gap-10 md:justify-start md:items-start">
  <div class="pb-10 flex-1">
    <!-- Venstre Kolonne (Kontaktoplysninger) -->
    <div class="flex flex-col">
      <p class="font-bold text-xl mb-6">Let’s work together</p>
      <p class="text-base">Charlotte Koudal</p>
      <p class="text-base">2200 København N, Denmark</p>
      <a href="mailto:c.koudal@gmail.com" class="text-[#6E744C] text-base m-0 pl-6 hover:text-accent transition" data-astro-cid-j7pv25f6>c.koudal@gmail.com</a>
      <p class="text-base">+45 2962 4832</p>
    </div>
  </div>

  <div class="pb-10 flex-1">
    <!-- Højre Kolonne (Sociale Medier Links) -->
    <div class="flex flex-col">
      <a href="/" class="text-primary text-base pl-6 hover:text-accent transition">LinkedIn</a>
      <a href="/" class="text-primary text-base pl-6 hover:text-accent transition">Facebook</a>
      <a href="/" class="text-primary text-base pl-6 hover:text-accent transition">Instagram</a>
    </div>
  </div>
</section>

<style>
  footer {
      box-shadow: 0px 0px 9px rgba(41, 41, 41, 0.25);
  }
</style>