---

---

<section
  class="text-seasalt text-lg leading-9 p-12 pt-16 justify-center md:p-16 md:flex md:gap-10 md:justify-between md:items-center bg-primary"
>
  <div class="pb-10">
    <p class="font-bold text-xl">Let’s Do It World NGO</p>
    <p>Roosikrantsi 3, TALLINN 10119, Estland</p>
    <p>Reg. kode - 80562203</p>
    <p>digital@ldiw.org</p>
  </div>
  <div class="flex flex-col underline font-semibold">
    <a href="" class="hover:text-accent transition">Blog</a>
    <a href="" class="hover:text-accent transition">Markedsføringsmateriale</a>
    <a href="" class="hover:text-accent transition">Forfatning</a>
    <a href="" class="hover:text-accent transition">Deltag i bevægelsen</a>
    <article class="flex pt-2 gap-2 max-w-5">
      <img src="/svg/x.svg" alt="" class="hover:opacity-50 transition" />
      <img src="/svg/youtube.svg" alt="" class="hover:opacity-50 transition" />
      <img src="/svg/linkedin.svg" alt="" class="hover:opacity-50 transition" />
      <img src="/svg/facebook.svg" alt="" class="hover:opacity-50 transition" />
      <img src="/svg/insta.svg" alt="" class="hover:opacity-50 transition" />
      <img src="/svg/tiktok.svg" alt="" class="hover:opacity-50 transition" />
    </article>
  </div>
  <div class="flex justify-center pt-14 md:items-center md:pt-0">
    <img src="/svg/lets-do-it.svg" alt="" class="h-36" />
  </div>
</section>
