---

---

<div
  class="bg-secondary rounded-3xl flex flex-col justify-center items-center max-w-xl py-16"
>
  <h2 class="text-seasalt text-center text-3xl font-bold pb-12 w-80 lg:w-96">
    Registrer dit digitale affald
  </h2>
  <img src="/svg/trash.svg" alt="" class="h-32" />
  <form class="w-8/12 py-10">
    <div class="flex">
      <input
        type="text"
        placeholder="Fornavn"
        class="w-full px-1 pt-3 mb-4 bg-secondary border-b border-seasalt focus:outline-none focus:ring-1 focus:ring-secondarylight placeholder:text-seasalt"
      />
    </div>
    <input
      type="text"
      placeholder="Efternavn"
      class="w-full px-1 pt-3 mb-4 bg-secondary border-b border-seasalt focus:outline-none focus:ring-1 focus:ring-secondarylight placeholder:text-seasalt"
    />
    <input
      type="email"
      placeholder="Email"
      class="w-full px-1 pt-3 mb-4 bg-secondary border-b border-seasalt focus:outline-none focus:ring-1 focus:ring-secondarylight placeholder:text-seasalt"
    />
    <select
      class="w-full pt-3 mb-4 bg-secondary border-b text-seasalt border-seasalt focus:outline-none focus:ring-1 focus:ring-secondarylight placeholder:text-seasalt"
    >
      <option value="" disabled selected>Land</option>
      <option value="danmark">Danmark</option>
      <option value="norge">Norge</option>
      <option value="sverige">Sverige</option>
      <option value="tyskland">Tyskland</option>
    </select>
    <input
      type="text"
      placeholder="Virksomhedsnavn (valgfrit)"
      class="w-full px-1 pt-3 mb-4 bg-secondary border-b border-seasalt focus:outline-none focus:ring-1 focus:ring-secondarylight placeholder:text-seasalt"
    />

    <div
      class="flex justify-between items-center border-b text-seasalt border-gray-300 pt-3 px-1 pb-0"
    >
      <label for="antal" class="text-white">Antal deltagere</label>
      <input
        type="number"
        value="1"
        class="text-start bg-secondary w-16 focus:outline-seasalt focus: text-seasalt"
      />
    </div>

    <div
      class="flex justify-between items-center border-b text-seasalt border-gray-300 py-3 relative px-1 pt-6 pb-0"
    >
      <label class="text-white">Mængde slettet (i GB)</label>
      <input
        type="number"
        value="0"
        class="text-start bg-secondary w-16 focus:outline-seasalt text-seasalt"
      />
      <span
        class="m-[-40px] absolute border flex items-center justify-center rounded-full h-6 w-6 text-accent cursor-pointer font-bold text-xl hover:text-secondarylight hover:shadow-md transition"
        title="1 GB svarer til 1.024 MB, og 1 MB svarer til 1.024 KB.">?</span
      >
    </div>
  </form>
  <br />
  <input
    type="submit"
    value="Registrer"
    class="bg-secondarylight px-12 p-2 rounded-full font-bold text-xl text-primary uppercase hover:bg-accent transition hover:shadow-md"
  />
</div>
