---
const { imageSrc, altText, text } = Astro.props;
---

<div class="flex flex-col items-center justify-center p-4 min-h-[200px]">
  <img src={imageSrc} alt={altText} class="w-[100px] h-[100px] mb-4" />
  <p class="text-center max-w-[200px] text-sm text-primarylight">
    {text}
  </p>
</div>

<!-- 
<div class="bg-[#DDEFFF] w-full h-[1500px] sm:h-[720px] flex flex-col items-center justify-center px-4">
     Centered Heading with margin on top and bottom 
    <h2 class="text-white text-3xl font-bold mb-[5%] text-center">
        Hvorfor skal man rydde op i sin digitale data?
    </h2>

  
    <div class="grid grid-cols-1 gap-8 md:grid-cols-3 lg:grid-cols-5">
      
        <div class="flex flex-col items-center justify-center p-4 min-h-[200px]">
            <img src="/svg/document.svg" alt="Illustration" class="w-[100px] h-[100px] mb-4">
            <p class="text-center max-w-[200px] text-sm text-white">
                Hjælper med at reducere CO2
            </p>
        </div>

       
        <div class="flex flex-col items-center justify-center p-4 min-h-[200px]">
            <img src="/svg/document.svg" alt="Illustration" class="w-[100px] h-[100px] mb-4">
            <p class="text-center max-w-[200px] text-sm text-white">
                Forlænger sine enheders levetid
            </p>
        </div>

      
        <div class="flex flex-col items-center justify-center p-4 min-h-[200px]">
            <img src="/svg/document.svg" alt="Illustration" class="w-[100px] h-[100px] mb-4">
            <p class="text-center max-w-[200px] text-sm text-white">
               Fremskynder og forenkler informationsdeling og - søgning
            </p>
        </div>

        <div class="flex flex-col items-center justify-center p-4 min-h-[200px]">
            <img src="/svg/document.svg" alt="Illustration" class="w-[100px] h-[100px] mb-4">
            <p class="text-center max-w-[200px] text-sm text-white">
                Reducerer risikoen for datasikkerhedsbrud
            </p>
        </div>

        
        <div class="flex flex-col items-center justify-center p-4 min-h-[200px]">
            <img src="/svg/document.svg" alt="Illustration" class="w-[100px] h-[100px] mb-4">
            <p class="text-center max-w-[200px] text-sm text-white">
               Øger disk- og serverkapaciteten og hjælper med at reducere omkostningerne
            </p>
        </div>
    </div>
</div>

-->
