---
import HvorforComponent from "./HvorforComponent.astro";

const components = [
  {
    imageSrc: "/svg/co2_ned.svg",
    altText: "Illustration 1",
    text: "Hjælper med at reducere CO2",
  },
  {
    imageSrc: "/svg/devices.svg",
    altText: "Illustration 2",
    text: "Forlænger sine enheders levetid",
  },
  {
    imageSrc: "/svg/fastdocument.svg",
    altText: "Illustration 3",
    text: "Fremskynder og forenkler informationsdeling og - søgning",
  },
  {
    imageSrc: "/svg/secure.svg",
    altText: "Illustration 4",
    text: "Reducerer risikoen for datasikkerhedsbrud",
  },
  {
    imageSrc: "/svg/storage.svg",
    altText: "Illustration 5",
    text: "Øger disk- og serverkapaciteten og hjælper med at reducere omkostningerne",
  },
];
---

<div
  class="bg-secondarylight w-full flex flex-col items-center justify-center px-4 py-24"
>
  <h2 class="text-primarylight text-4xl font-bold mb-[5%] text-center">
    Hvorfor skal man rydde op i sin digitale data?
  </h2>

  <div class="grid grid-cols-1 gap-8 md:grid-cols-3 lg:grid-cols-5">
    {
      components.map((component) => (
        <HvorforComponent
          imageSrc={component.imageSrc}
          altText={component.altText}
          text={component.text}
        />
      ))
    }
  </div>
</div>
