---
const link = Astro.props.link;
const btnText = Astro.props.btnText;
---

<a
  class="btn-base border-2 text-[#ddefff] border-[#ddefff] hover:bg-[#629d97] hover:text-[#ddefff] m-0 px-14 py-3 text-base rounded-full transition"
  href={link}
>
  {btnText}
</a>
