<div
  class="relative w-full h-auto flex flex-row items-center gap-6 justify-between px-8 lg:px-36 py-8 bg-[#0D3C2F] overflow-hidden"
>
  <div class="flex text-center md:text-left">
    <h1 class="text-3xl md:text-5xl font-bold text-seasalt">
      Digital Cleanup Day
    </h1>
  </div>

  <!-- Container til træet og datoen -->
  <div class="flex-1 relative flex justify-center lg:justify-end items-start">
    <!-- Træet, placeret bagved -->
    <img
      class="absolute -mt-5 left-2/4 h-[200px] lg:h-[300px] w-auto z-10"
      src="/svg/index-tree.svg"
      alt="grønt træ"
    />

    <!-- Datoen, placeret foran -->
    <div class="relative z-20">
      <img
        src="/svg/datokalender.svg"
        alt="Dato"
        class="md:w-52 w-60 min-w-42"
      />
    </div>
  </div>
</div>
