---

---

<!-- !-- Up Arrow Button --
<button
  id="scrollUp"
  class="group liquid-button fixed bottom-4 right-4 w-130 h-130 rounded-full bg-seasalt shadow-md flex items-center justify-center hover:bg-[#DDEFFF] focus:outline-none z-50"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-6 h-6 stroke-[#012B27] group-hover:stroke-[#012B27]"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M19 15l-7-7-7 7"></path>
  </svg>
</button>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.getElementById("scrollUp").addEventListener("click", () => {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });
  });
</script>
 -->

<!-- Up Arrow Button -->
<button
  id="scrollUp"
  class="liquid-button fixed bottom-4 right-4 flex items-center justify-center 
    p-[25px_50px] m-[25px] rounded-full border-5 border-[#284cff] 
    bg-transparent text-white cursor-pointer 
    transition-colors duration-150 font-bold"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-6 h-6 stroke-[#012B27] group-hover:stroke-[#012B27]"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M19 15l-7-7-7 7"></path>
  </svg>
</button>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.getElementById("scrollUp").addEventListener("click", () => {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });
  });
</script>