---

---

<!-- Up Arrow Button -->
<button
  id="scrollUp"
  class="group fixed bottom-4 right-4 w-12 h-12 rounded-full bg-seasalt shadow-md flex items-center justify-center hover:bg-[#DDEFFF] focus:outline-none z-50"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-6 h-6 stroke-[#012B27] group-hover:stroke-[#012B27]"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M19 15l-7-7-7 7"></path>
  </svg>
</button>

<!-- ------------------------------------------------------------------- -->
<style>
  .liquid-button {
    position: relative;
    overflow: hidden;
  }

  .liquid-button::before,
  .liquid-button::after {
    content: '';
    position: absolute;
    background-color: #DDEFFF;
    width: 200%;
    height: 200%;
    border-radius: 40%;
    transition: transform 0.5s ease-in-out;
  }

  .liquid-button::before {
    top: -50%;
    left: -50%;
    transform: scale(0);
  }

  .liquid-button::after {
    bottom: -50%;
    right: -50%;
    transform: scale(0);
  }

  .liquid-button:hover::before {
    transform: scale(1);
  }

  .liquid-button:hover::after {
    transform: scale(1);
  }
</style>

<!-- ------------------------------------------------------------------- -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.getElementById("scrollUp").addEventListener("click", () => {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });
  });
</script>
